version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: "daily"
  ignore:
    - dependency-name: "@apidevtools/json-schema-ref-parser"
    - dependency-name: "@types/node-fetch"
    - dependency-name: "node-fetch"
    - dependency-name: "camelcase"
