node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
junit.xml
.DS_Store
.tmp
.idea
.vscode
*.iml
coverage
test/generated
test/e2e/generated
samples/generated
samples/swagger-codegen-cli-v2.jar
samples/swagger-codegen-cli-v3.jar
